{% extends '::base.html.twig' %}

{% block body -%}


    <div class="col-xs-4">
    <h3>Create new book</h3>
    {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
    </div>


    <div class="col-xs-4 col-xs-offset-3">
        <h3>Choose category for book</h3>
            <form>
                <div class="form-group">
                    {#<label for="categories">Categories</label>#}
                    {#<input type="text" class="form-control" id="categories">#}

                    {% for category in categories %}
                        <input type="checkbox" name="category[]" class="category" value="{{ category.id }}">{{ category.name }}
                    {% endfor %}
                </div>

                <div class="col-xs-2">
                    <div class="form-group">
                        <div class="btn btn-primary" id="saveCategory">Save</div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="form-group">
                        <button class="btn btn-default">Add new</button>
                    </div>
                </div>
            </form>
    </div>

    <div class="col-xs-12">
    <ul>
        <li><a href="{{ path('book') }}">Book manager</a></li>
    </ul>
    <div>
{% endblock -%}

{% block scripts %}

       <script>
       var categories = [];

        $(".category").change(function() {
            var ckbox = $('.category');
                if (ckbox.is(':checked')) {
                    var category = $(this).val();
                    var idExist = $.inArray(category, categories);
                    if (idExist == -1) {
                        categories.push(category);
                   }
                 }
               });

        $("#saveCategory").click(function() {
           url = '{{ path('book-category') }}';
               $.ajax({
                url: url,
                method: "POST",
                data: {category:categories}
              });
           });
        </script>




{% endblock %}